@model UserLoginModel
<div class="container">
    <h2>Вход</h2>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <form asp-action="Login" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="username" asp-for="Username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password" asp-for="Password">
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>

